<div class="onestep_payment_block" data-bind="blockLoader: isLoading, afterRender: onRender" data-role="payment-methods-load">
    <div class="payment_title_block"></div>
    <!-- ko foreach: getRegion('payment-methods-items') -->
        <!-- ko template: getTemplate() --><!-- /ko -->
    <!--/ko-->
    <!-- ko if: errorValidationMessage().length > 0 -->
    <div class="message notice">
        <span><!-- ko text: errorValidationMessage()--><!-- /ko --></span>
    </div>
    <!-- /ko -->
    <div class="no-quotes-block" data-bind="visible: !isPaymentMethodsAvailable()">
        <!-- ko i18n: 'No Payment method available.'--><!-- /ko -->
    </div>
</div>
