<!-- ko if: quoteIsVirtual == 0 && isShow -->
    <!-- ko if: isCalculated() -->
        <!-- ko if: isBothPricesDisplayed() -->
        <tr class="totals shipping excl">
            <th class="mark" scope="row">
                <span class="label" data-bind="text: title + ' ' + excludingTaxMessage"></span>
                <span class="value"><!-- ko if: getShippingMethodTitle() -->(<!-- ko text: getShippingMethodTitle() --><!-- /ko -->)<!-- /ko --></span>
            </th>
            <td class="amount">
                <span class="price" data-bind="text: getExcludingValue(), attr: {'data-th': excludingTaxMessage}"></span>
            </td>
        </tr>
        <tr class="totals shipping incl">
            <th class="mark" scope="row">
                <span class="label" data-bind="text: title + ' ' + includingTaxMessage"></span>
                <span class="value"><!-- ko if: getShippingMethodTitle() -->(<!-- ko text: getShippingMethodTitle() --><!-- /ko -->)<!-- /ko --></span>
            </th>
            <td class="amount">
                <span class="price" data-bind="text: getIncludingValue(), attr: {'data-th': title + ' ' + excludingTaxMessage}"></span>
            </td>
        </tr>
        <!-- /ko -->
        <!-- ko if: isIncludingDisplayed() -->
        <tr class="totals shipping incl">
            <th class="mark" scope="row">
                <span class="label" data-bind="i18n: title"></span>
                <span class="value"><!-- ko if: getShippingMethodTitle() -->(<!-- ko text: getShippingMethodTitle() --><!-- /ko -->)<!-- /ko --></span>
            </th>
            <td class="amount">
                <span class="price" data-bind="text: getIncludingValue(), attr: {'data-th': title}"></span>
            </td>
        </tr>
        <!-- /ko -->
        <!-- ko if: isExcludingDisplayed() -->
        <tr class="totals shipping excl">
            <th class="mark" scope="row">
                <span class="label" data-bind="i18n: title"></span>
                <span class="value"><!-- ko if: getShippingMethodTitle() -->(<!-- ko text: getShippingMethodTitle() --><!-- /ko -->)<!-- /ko --></span>
            </th>
            <td class="amount">
                <span class="price" data-bind="text: getValue(), attr: {'data-th': title}"></span>
            </td>
        </tr>
        <!-- /ko -->
    <!-- /ko -->
    <!-- ko ifnot: isCalculated() -->
        <tr class="totals shipping excl">
            <th class="mark" scope="row">
                <span class="label" data-bind="i18n: title"></span>
                <span class="value"><!-- ko if: getShippingMethodTitle() -->(<!-- ko text: getShippingMethodTitle() --><!-- /ko -->)<!-- /ko --></span>
            </th>
            <td class="amount">
                <span class="not-calculated" data-bind="text: getValue(), attr: {'data-th': title}"></span>
            </td>
        </tr>
    <!-- /ko -->
<!-- /ko -->
